/*CSS FOR Sim-List-App*/
.SimList select{
    display: inline;
    border: 1px solid #ada9a9!important;
}

.SimList{
    text-transform: capitalize
}
.simsInProgress {
        text-transform: capitalize
}