.modal.large {
    width: 75% !important;
    max-width: 1280px !important;
}

#modal1 button {
    margin: 10px 30px;
}

#modal1 .modal-close-button {
    margin: 25px
}

#modal1 .progress .determinate {
    -webkit-transition: width 0s linear;
    transition: width 0s linear;
}

#modal2 {
    min-height: 65%;
}
